<div id="main" class="span-46 last">

  <div id="index_photo" class="clear">
    <img src="{{ 'main_image.jpg' | asset_url }}">
  </div>

  <div id="index_newsletter" class="span-9 first">
    <div class="title">WANT TO STAY IN TOUCH?</div>
    <input type="text" value="Enter Email Address">
    <div id="newsletter_signup">
      <img src="{{ 'signup.png' | asset_url }}">  
    </div>
  </div>
  
  <div id="index_news" class="prepend-5 span-32 last">
    <div class="image span-7 first"><img src="{{ 'news_photo.jpg' | asset_url }}"></div>
    <div class="news prepend-1 span-24 last">
      <div class="title_section">
        News :
        <span class="bolder">Holga invasion!</span>            
      </div>
      <div class="title_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </div>
    </div>
  </div>

</div><!-- main -->

