<div id="main" class="span-46 last">

  <div class="article prepend-1 span-44 append-1">
    <div class="title">{{ page.title }}</div>
    <div class="content grey_text">
      {{ page.content }}
    </div>
  </div>

</div><!-- main -->
